<div role="form"  ng-controller="ManutencaoCtrl as vm">
  <div class="box-body">

    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label>Equipamento</label>
        <div class="form-group">
          <select class="form-control" ng-model="manutencaoForm.equipamento">
            <option value="" disabled>
              Selecione o Equipamento
            </option>
            <option ng-repeat="item in equipamento" value="{{item.name}}">
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label>Empresa Terceirizada Responsável</label>
        <div class="form-group">
          <select class="form-control" ng-model="manutencaoForm.empresaResponsavel">
            <option value="" disabled>
              Selecione a Empresa Terceirizada
            </option>
            <option ng-repeat="item in empresasResponsaveis" value="{{item.nomeFantasia}}">
              {{item.nomeFantasia}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <field id="billingCycleType" label="Defeito" model="manutencaoForm.defeito"
         placeholder="Descreva o Defeito" grid="12 6 6" readonly="tabDelete" required></field>

  </div>

  <div class="box-footer">
    <button class="btn btn-primary" ng-click="cadastrarManutencao()"
         ng-if="tabCreate">Incluir</button>
    <button class="btn btn-info" ng-click="updateBillingCycle()"
         ng-if="tabUpdate">Alterar</button>
    <button class="btn btn-danger" ng-click="deleteBillingCycle()"
         ng-if="tabDelete">Excluir</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
  </div>
</div>