<div role="form">
  <div class="box-body">

    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label>Tipo de Alerta:</label>
        <div class="form-group">
          <select class="form-control" ng-model="alerta.tipoAlerta">
            <option value="" disabled>
              Selecione um Tipo de Alerta
            </option>
            <option ng-repeat="item in qualAlerta" value="{{item.name}}">
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label>Fonte:</label>
        <div class="form-group">
          <select class="form-control" ng-model="alerta.fonte">
            <option value="" disabled>
              Selecione uma Fonte
            </option>
            <option ng-repeat="item in fonte" value="{{item.name}}">
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <field id="billingCycleType" label="Relato da Ocorrência" model="alerta.relato"
         placeholder="Relate a ocorrência" grid="12 6 6" readonly="tabDelete"></field>

    <!-- Date and time range -->
    <div class="col-xs-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label>Data</label>
        <div class="input-group">
          <input ng-model="alerta.data" type="text" class="form-control pull-right" ui-date-mask="DD/MM/YYYY" placeholder="Informe a data">
        </div>
        <span style="font-size: 11px; color: gray;">Somente números, formato dd/mm/AAAA </span>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label>Há Suspeitos?</label>
        <div class="form-group">
          <input type="radio" ng-model="haSuspeitos" value="sim"> Sim <br> 
          <input type="radio" ng-model="haSuspeitos" value="nao" > Não
        </div>
      </div>
    </div>

    <div class="col-xs-12" ng-show="haSuspeitos == 'sim'">
      <fieldset>
        <legend>Suspeito</legend>
      </fieldset>
    </div>    

    <div class="col-xs-12" ng-show="haSuspeitos == 'sim'">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Sexo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos.sexo">
              <option value="" disabled>
                Selecione um sexo
              </option>
              <option value="Masculino">
                Masculino
              </option>
              <option value="Feminino">
                Feminino
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Idade Aproximada:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos.idade">
              <option value="" disabled>
                Selecione a idade
              </option>
              <option ng-repeat="item in idadeSuspeito" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Etnia:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos.etnia">
              <option value="" disabled>
                Selecione a etnia.
              </option>
              <option ng-repeat="item in etnia" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Cumprimento do Cabelo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos.cumprimentoCabelo">
              <option value="" disabled>
                Selecione o cumprimento do cabelo.
              </option>
              <option ng-repeat="item in cumprimentoCabelo" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Cor do Cabelo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos.corCabelo">
              <option value="" disabled>
                Selecione a cor do cabelo.
              </option>
              <option ng-repeat="item in corCabelo" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Altura Aproximada:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos.altura">
              <option value="" disabled>
                Selecione o peso
              </option>
              <option ng-repeat="item in alturaSuspeito" value="{{item.name}}">
                {{item.name}} cm
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Peso:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos.peso">
              <option value="" disabled>
                Selecione o peso
              </option>
              <option ng-repeat="item in pesoSuspeito" value="{{item.name}}">
                {{item.name}} kg
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Estava armado?</label>
          <div class="form-group">
            <input type="radio" ng-model="suspeitoArmado" value="sim"> Sim <br> 
            <input type="radio" ng-model="suspeitoArmado" value="nao"> Não
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4" ng-show="suspeitoArmado == 'sim'">
        <div class="form-group">
          <label>Tipo de arma:</label>
          <div class="form-group">
            <input type="radio" ng-model="alerta.suspeitos.tipoArma" value="Arma Branca"> Arma Branca <br> 
            <input type="radio" ng-model="alerta.suspeitos.tipoArma" value="Arma de Fogo"> Arma de Fogo
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4" ng-show="alerta.suspeitos.tipoArma == 'Arma de Fogo' && suspeitoArmado == 'sim'">
        <div class="form-group">
          <label>Arma:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos.armaDeFogo">
              <option value="" disabled>
                Selecione uma arma
              </option>
              <option ng-repeat="item in armaSuspeito" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    <field id="billingCycleType" label="Observações" model="alerta.suspeitos.observacao"
         placeholder="Observações" grid="12 12 12" readonly="tabDelete"></field>
    <span class="col-md-12" style="font-size: 11px; color: gray; margin-top: -5px; margin-bottom: 10px;">Exemplo: Suspeito estava mancando, suspeito possuia uma tatuagem no pescoço.</span>


    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label>Adicionar mais um suspeito?</label>
        <div class="form-group">
          <input type="radio" ng-model="haSuspeitos2" value="sim"> Sim <br> 
          <input type="radio" ng-model="haSuspeitos2" value="nao"> Não
        </div>
      </div>
    </div>

    </div>    

    <div class="col-xs-12" ng-show="haSuspeitos == 'sim' && haSuspeitos2 == 'sim'">
      <fieldset>
        <legend>Suspeito 2</legend>
      </fieldset>
    </div>    

    <div class="col-xs-12" ng-show="haSuspeitos == 'sim' && haSuspeitos2 == 'sim'">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Sexo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos2.sexo">
              <option value="" disabled>
                Selecione um sexo
              </option>
              <option value="Masculino">
                Masculino
              </option>
              <option value="Feminino">
                Feminino
              </option>
            </select>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Idade Aproximada:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos2.idade">
              <option value="" disabled>
                Selecione a idade
              </option>
              <option ng-repeat="item in idadeSuspeito" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>      

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Etnia:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos2.etnia">
              <option value="" disabled>
                Selecione a etnia.
              </option>
              <option ng-repeat="item in etnia" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Cumprimento do Cabelo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos2.cumprimentoCabelo">
              <option value="" disabled>
                Selecione o cumprimento do cabelo.
              </option>
              <option ng-repeat="item in cumprimentoCabelo" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Cor do Cabelo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos2.corCabelo">
              <option value="" disabled>
                Selecione a cor do cabelo.
              </option>
              <option ng-repeat="item in corCabelo" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Altura Aproximada:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos2.altura">
              <option value="" disabled>
                Selecione o peso
              </option>
              <option ng-repeat="item in alturaSuspeito" value="{{item.name}}">
                {{item.name}} cm
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Peso:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos2.peso">
              <option value="" disabled>
                Selecione o peso
              </option>
              <option ng-repeat="item in pesoSuspeito" value="{{item.name}}">
                {{item.name}} kg
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Estava armado?</label>
          <div class="form-group">
            <input type="radio" ng-model="suspeitoArmado2" value="sim"> Sim <br> 
            <input type="radio" ng-model="suspeitoArmado2" value="nao"> Não
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4" ng-show="suspeitoArmado2 == 'sim'">
        <div class="form-group">
          <label>Tipo de arma:</label>
          <div class="form-group">
            <input type="radio" ng-model="alerta.suspeitos2.tipoArma" value="Arma Branca"> Arma Branca <br> 
            <input type="radio" ng-model="alerta.suspeitos2.tipoArma" value="Arma de Fogo"> Arma de Fogo
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4" ng-show="alerta.suspeitos2.tipoArma == 'Arma de Fogo' && suspeitoArmado2 == 'sim'">
        <div class="form-group">
          <label>Arma:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos2.armaDeFogo">
              <option value="" disabled>
                Selecione uma arma
              </option>
              <option ng-repeat="item in armaSuspeito" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    <field id="billingCycleType" label="Observações" model="alerta.suspeitos2.observacao"
         placeholder="Observações" grid="12 12 12" readonly="tabDelete"></field>
    <span class="col-md-12" style="font-size: 11px; color: gray; margin-top: -5px; margin-bottom: 10px;">Exemplo: Suspeito estava mancando, suspeito possuia uma tatuagem no pescoço.</span>

    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label>Adicionar mais um suspeito?</label>
        <div class="form-group">
          <input type="radio" ng-model="haSuspeitos3" value="sim"> Sim <br> 
          <input type="radio" ng-model="haSuspeitos3" value="nao"> Não
        </div>
      </div>
    </div>

    </div>   


    <div class="col-xs-12" ng-show="haSuspeitos == 'sim' && haSuspeitos2 == 'sim' && haSuspeitos3 == 'sim'">
      <fieldset>
        <legend>Suspeito 3</legend>
      </fieldset>
    </div>    

    <div class="col-xs-12" ng-show="haSuspeitos == 'sim' && haSuspeitos2 == 'sim' && haSuspeitos3 == 'sim'">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Sexo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos3.sexo">
              <option value="" disabled>
                Selecione um sexo
              </option>
              <option value="Masculino">
                Masculino
              </option>
              <option value="Feminino">
                Feminino
              </option>
            </select>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Idade Aproximada:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos3.idade">
              <option value="" disabled>
                Selecione a idade
              </option>
              <option ng-repeat="item in idadeSuspeito" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Etnia:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos3.etnia">
              <option value="" disabled>
                Selecione a etnia.
              </option>
              <option ng-repeat="item in etnia" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Cumprimento do Cabelo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos3.cumprimentoCabelo">
              <option value="" disabled>
                Selecione o cumprimento do cabelo.
              </option>
              <option ng-repeat="item in cumprimentoCabelo" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Cor do Cabelo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos3.corCabelo">
              <option value="" disabled>
                Selecione a cor do cabelo.
              </option>
              <option ng-repeat="item in corCabelo" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Altura Aproximada:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos3.altura">
              <option value="" disabled>
                Selecione o peso
              </option>
              <option ng-repeat="item in alturaSuspeito" value="{{item.name}}">
                {{item.name}} cm
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Peso:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos3.peso">
              <option value="" disabled>
                Selecione o peso
              </option>
              <option ng-repeat="item in pesoSuspeito" value="{{item.name}}">
                {{item.name}} kg
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Estava armado?</label>
          <div class="form-group">
            <input type="radio" ng-model="suspeitoArmado3" value="sim"> Sim <br> 
            <input type="radio" ng-model="suspeitoArmado3" value="nao"> Não
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4" ng-show="suspeitoArmado3 == 'sim'">
        <div class="form-group">
          <label>Tipo de arma:</label>
          <div class="form-group">
            <input type="radio" ng-model="alerta.suspeitos3.tipoArma" value="Arma Branca"> Arma Branca <br> 
            <input type="radio" ng-model="alerta.suspeitos3.tipoArma" value="Arma de Fogo"> Arma de Fogo
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4" ng-show="alerta.suspeitos3.tipoArma == 'Arma de Fogo' && suspeitoArmado3 == 'sim'">
        <div class="form-group">
          <label>Arma:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos3.armaDeFogo">
              <option value="" disabled>
                Selecione uma arma
              </option>
              <option ng-repeat="item in armaSuspeito" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <field id="billingCycleType" label="Observações" model="alerta.suspeitos3.observacao"
           placeholder="Observações" grid="12 12 12" readonly="tabDelete"></field>
      <span class="col-md-12" style="font-size: 11px; color: gray; margin-top: -5px; margin-bottom: 10px;">Exemplo: Suspeito estava mancando, suspeito possuia uma tatuagem no pescoço.</span>

      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label>Adicionar mais um suspeito?</label>
          <div class="form-group">
            <input type="radio" ng-model="haSuspeitos4" value="sim"> Sim <br> 
            <input type="radio" ng-model="haSuspeitos4" value="nao"> Não
          </div>
        </div>
      </div>

    </div>  


    <div class="col-xs-12" ng-show="haSuspeitos4 == 'sim' && haSuspeitos == 'sim' && haSuspeitos2 == 'sim' && haSuspeitos3 == 'sim'">
      <fieldset>
        <legend>Suspeito 4</legend>
      </fieldset>
    </div>    

    <div class="col-xs-12" ng-show="haSuspeitos4 == 'sim' && haSuspeitos == 'sim' && haSuspeitos2 == 'sim' && haSuspeitos3 == 'sim'">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Sexo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos4.sexo">
              <option value="" disabled>
                Selecione um sexo
              </option>
              <option value="Masculino">
                Masculino
              </option>
              <option value="Feminino">
                Feminino
              </option>
            </select>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Idade Aproximada:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos4.idade">
              <option value="" disabled>
                Selecione a idade
              </option>
              <option ng-repeat="item in idadeSuspeito" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Etnia:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos4.etnia">
              <option value="" disabled>
                Selecione a etnia.
              </option>
              <option ng-repeat="item in etnia" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Cumprimento do Cabelo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos4.cumprimentoCabelo">
              <option value="" disabled>
                Selecione o cumprimento do cabelo.
              </option>
              <option ng-repeat="item in cumprimentoCabelo" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Cor do Cabelo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos4.corCabelo">
              <option value="" disabled>
                Selecione a cor do cabelo.
              </option>
              <option ng-repeat="item in corCabelo" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Altura Aproximada:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos4.altura">
              <option value="" disabled>
                Selecione o peso
              </option>
              <option ng-repeat="item in alturaSuspeito" value="{{item.name}}">
                {{item.name}} cm
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Peso:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos4.peso">
              <option value="" disabled>
                Selecione o peso
              </option>
              <option ng-repeat="item in pesoSuspeito" value="{{item.name}}">
                {{item.name}} kg
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Estava armado?</label>
          <div class="form-group">
            <input type="radio" ng-model="suspeitoArmado4" value="sim"> Sim <br> 
            <input type="radio" ng-model="suspeitoArmado4" value="nao"> Não
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4" ng-show="suspeitoArmado4 == 'sim'">
        <div class="form-group">
          <label>Tipo de arma:</label>
          <div class="form-group">
            <input type="radio" ng-model="alerta.suspeitos4.tipoArma" value="Arma Branca"> Arma Branca <br> 
            <input type="radio" ng-model="alerta.suspeitos4.tipoArma" value="Arma de Fogo"> Arma de Fogo
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-4 col-lg-4" ng-show="alerta.suspeitos4.tipoArma == 'Arma de Fogo' && suspeitoArmado4 == 'sim'">
        <div class="form-group">
          <label>Arma:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.suspeitos4.armaDeFogo">
              <option value="" disabled>
                Selecione uma arma
              </option>
              <option ng-repeat="item in armaSuspeito" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    <field id="billingCycleType" label="Observações" model="alerta.suspeitos4.observacao"
         placeholder="Observações" grid="12 12 12" readonly="tabDelete"></field>
    <span class="col-md-12" style="font-size: 11px; color: gray; margin-top: -5px; margin-bottom: 10px;">Exemplo: Suspeito estava mancando, suspeito possuia uma tatuagem no pescoço.</span>
    </div>  

    <hr>

    <div class="col-xs-12">
      <fieldset>
        <legend>Veículos</legend>
      </fieldset>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="form-group">
        <label>Há Veículo Suspeito?</label>
        <div class="form-group">
          <input type="radio" ng-model="haVeiculo" value="sim"> Sim <br> 
          <input type="radio" ng-model="haVeiculo" value="nao"> Não
        </div>
      </div>
    </div>


    <div ng-show="haVeiculo == 'sim'">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Tipo do Veículo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.veiculos.tipo" ng-change="getMarcasFipe()">
              <option value="" disabled>
                Selecione o tipo do veículo
              </option>
              <option value="carros">
                Carro
              </option>
              <option value="motos">
                Moto
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Marca do Veículo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.veiculos.marca" ng-change="getModelosFipe()">
              <option value="" disabled>
                Selecione a marca do veículo
              </option>
              <option ng-repeat="item in marcasFipe" value="{{item.id}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Modelo do Veículo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.veiculos.modelo" ng-change="getAnoFipe()">
              <option value="" disabled>
                Selecione o modelo do veículo
              </option>
              <option ng-repeat="item in modelosFipe" value="{{item.id}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Ano do Veículo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.veiculos.ano">
              <option value="" disabled>
                Selecione o ano do veículo
              </option>
              <option ng-repeat="item in anoFipe" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Cor do Veículo:</label>
          <div class="form-group">
            <select class="form-control" ng-model="alerta.veiculos.cor">
              <option value="" disabled>
                Selecione a cor do veículo
              </option>
              <option ng-repeat="item in corVeiculo" value="{{item.name}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3 col-lg-3">
        <div class="form-group">
          <label>Placa</label>
          <input class="form-control" ng-model="alerta.veiculos.placa" type="text" class="form-control pull-right" placeholder="Informe a placa do veículo." ui-br-car-plate-mask>
        </div>
      </div>

      <field id="billingCycleType" label="Observações" model="alerta.veiculos.observacao"
           placeholder="Observações" grid="12 12 12" readonly="tabDelete"></field>
      <span class="col-md-12" style="font-size: 11px; color: gray; margin-top: -5px; margin-bottom: 10px;">Exemplo: Veículo com o para-brisa trincado.</span>
    </div>

    <hr>

    <div class="col-xs-12">
      <fieldset>
        <legend>Anexos</legend>
      </fieldset>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="form-group">
        <div class="input-group">
          <label for="exampleInputFile">Anexar Imagens</label>
          <input type="file" id="exampleInputFile">

          <p class="help-block">Deve ser no formato JPG.</p>
        </div>
      </div>
    </div>

    <hr>    

    <div class="col-xs-12">
      <fieldset>
        <legend>Local</legend>
      </fieldset>
    </div>

      <div class="col-xs-12">

        <label>Arraste o marcador para definir o local do acontecimento.</label><br><span style="font-size: 13px">Local padrão é: Sicoob Crediauc Matriz</span>

        <leaflet style="margin-top: 10px" class="leaflet_list_map" defaults="defaults2" lf-center="center2" ng-init="marcarPosicaoAlerta()"  markers="markers2" width="100%" height="480px"></leaflet>
      </div>

    <hr>

  </div>

  <div class="box-footer">
    <button class="btn btn-primary" ng-click="cadastrarAlerta()"
         ng-if="tabCreate">Incluir</button>
    <button class="btn btn-info" ng-click="updateBillingCycle()"
         ng-if="tabUpdate">Alterar</button>
    <button class="btn btn-danger" ng-click="deleteBillingCycle()"
         ng-if="tabDelete">Excluir</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
  </div>
</div>